﻿@{
    ViewBag.Title = "Do Something that scares you - Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Do Something that scares you - </h1>
                <h2>A website for people who want to push their boundaries.</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
